<a href="https://colab.research.google.com/github/sanvadds/Churn-Model--Deep-Learning---Tensorflow/blob/main/Churn_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd

In [10]:
from sklearn.model_selection import train_test_split

In [12]:
df = pd.read_csv("/content/sample_data/Churn.csv")

In [13]:
df.head()

  Customer ID  Gender  Senior Citizen  ... Monthly Charges Total Charges  Churn
0  7590-VHVEA  Female               0  ...           29.85         29.85     No
1  7590-VHVEG  Female               0  ...           29.85         29.85     No
2  5575-GNVDE    Male               0  ...           56.95        1889.5     No
3  3668-QPYBK    Male               0  ...           53.85        108.15    Yes
4  7795-CFOCW    Male               0  ...           42.30       1840.75     No

[5 rows x 21 columns]

In [14]:
X = pd.get_dummies(df.drop(['Churn','Customer ID'],axis=1))

In [15]:
Y = df['Churn'].apply(lambda x : 1 if x=='Yes' else 0)

In [16]:
x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)

In [ ]:
x_train.head()

In [18]:
y_train.head()

3452    0
4853    0
5806    0
1683    0
4433    0
Name: Churn, dtype: int64

In [2]:
from tensorflow.keras import Sequential

In [5]:
from tensorflow.keras.models import load_model

In [6]:
from tensorflow.keras.layers import Dense

In [7]:
from sklearn.metrics import accuracy_score

In [8]:
model = Sequential()

In [22]:
model.add(Dense(units= 32, activation='relu', input_dim=len(x_train.columns)))

In [23]:
model.add(Dense(units= 64, activation='relu'))

In [24]:
model.add(Dense(units=1 , activation= 'sigmoid'))

In [27]:
model.compile(loss='binary_crossentropy' ,optimizer='sgd' , metrics='accuracy')

In [33]:
model.fit(x_train,y_train,epochs=10,batch_size=32)

Epoch 1/10
177/177 [==============================] - 1s 8ms/step - loss: 0.4760 - accuracy: 0.7801
Epoch 2/10
177/177 [==============================] - 1s 7ms/step - loss: 0.4711 - accuracy: 0.7833
Epoch 3/10
177/177 [==============================] - 1s 8ms/step - loss: 0.4700 - accuracy: 0.7833
Epoch 4/10
177/177 [==============================] - 1s 7ms/step - loss: 0.4719 - accuracy: 0.7835
Epoch 5/10
177/177 [==============================] - 1s 5ms/step - loss: 0.4667 - accuracy: 0.7833
Epoch 6/10
177/177 [==============================] - 1s 5ms/step - loss: 0.4641 - accuracy: 0.7817
Epoch 7/10
177/177 [==============================] - 1s 5ms/step - loss: 0.4593 - accuracy: 0.7846
Epoch 8/10
177/177 [==============================] - 1s 5ms/step - loss: 0.4593 - accuracy: 0.7853
Epoch 9/10
177/177 [==============================] - 1s 5ms/step - loss: 0.4597 - accuracy: 0.7860
Epoch 10/10
177/177 [==============================] - 1s 5ms/step - loss: 0.4577 - accuracy: 0.7860

In [34]:
y_pred = model.predict(x_test)
y_pred = [0 if val < 0.5 else 1 for val in y_pred]

In [35]:
accuracy_score(y_test, y_pred)

0.7785663591199432